body{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.title-container {
    background-color: rgb(23, 128, 23);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heart-icon {
    display: flex;
    gap: 20px;
}

.title-right {
    display: flex;
    align-items: center;
    padding-right: 140px;
    gap: 30px;
    font-size: 15px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    gap: 5px;
    background-color: rgb(100, 181, 105);
}

.navbar {
    background-color: rgb(84, 79, 79);
    color: white;
    display: flex;
}

.nav {
    padding-left: 140px;
    display: flex;
    gap: 30px;
}

.navbar ul{
    list-style-type: none;   
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}


.icon-container {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    padding-left: 140px;
    padding-top: 30px;
    gap: 60px;
    padding-bottom: 30px;
    
}

.vertical {
    border-left: 1px solid gray;
    height: 50px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon p{
    font-size: 15px;
    font-family: sans-serif;
}

.left_container{
    padding-left: 140px;
}

.left_box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: beige;
    gap: 5px;
    height: 600px;
    width: 800px;
}


.photo_box{
    background-color: rgb(114, 107, 107);
    height: 500px;
    width: 400px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_box h5{
    color: white;
}

.middle_container{
    display: flex;
    gap: 30px;
}

.box_1{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: beige;
    margin-bottom: 10px;
}

.box_2{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: beige;
}

.right_box p{
    display: flex;
    align-items: center;
    text-align: center;
}

